body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
  border: 1px solid tomato;
}

#pagination ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#pagination li,
#pagination button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 99, 71, 0.1);
  font-weight: bold;
  text-align: center;
  border: 1px solid transparent;
  width: 22px;
  cursor: pointer;
}

#pagination li.current {
  background-color: tomato;
  color: #fff;
}
